<p id="notice"><%= notice %></p>

<div class="container">
  <p>Click and drag to pan the map. </p>
  <p>Zoom using the mouse wheel.</p>
  <p>Choose the hour of the day to show all routes</p>
</div>

<div class="container outline">
  <form oninput="readout.value = time.valueAsNumber">
    <label for="time">Hour:</label>
    <output for="startHour" name="readout">12</output>
    <input name="time" type="range" id="startHour" value="12" min="1" max="24" step="1">
    <button type="button" id="draw">Draw Routes</button>
  </form>

  <div id="map_container"></div>
  <div id="tooltip" class="hidden"><span class="value"></span></div>
</div>

<div class="container">
  <a href="legal/">legal stuff</a>
</div>
