<p id="notice"><%= notice %></p>

<div class="container">
  <p>This map shows frequency of service between two hours for a choseen bus route.</p>
  <p>Click and drag to pan the map. </p>
  <p>Zoom using the mouse wheel.</p>
  <p>Choose the hour of the day to show the system map and then click on "Draw Routes" </p>
  <p>It may take a second to load new data!</p>
</div>

<div class="container">
  <h3>No Database?</h3>
  <p>
    Check out <a href="nodb">this page</a> which grabs data from a few pre-computed routes.
  </p>
</div>

<div class="container" id="legend_container"></div>

<div class="container outline">
  <form oninput="startreadout.value = starttime.valueAsNumber; endreadout.value = endtime.valueAsNumber">
    <label for="routeChooser">Bus Route:</label>
    <select id='routeChooser'><select>
    <label for="starttime">start:</label>
    <output for="startHour" name="startreadout">12</output>
    <input name="starttime" type="range" id="startHour" value="1" min="1" max="24" step="1">

    <label for="endtime">end:</label>
    <output for="endHour" name="endreadout">12</output>
    <input name="endtime" type="range" id="endHour" value="1" min="1" max="24" step="1">

    <button type="button" id="draw">Draw Route</button>

    <input type="time" name="name" value="" hidden=true>
  </form>

  <div id="map_container"></div>

  <div id="tooltip" class="hidden"><span class="value"></span></div>
</div>

<div class="container">
  <a href="legal/">legal stuff</a>
</div>
