<p id="notice"><%= notice %></p>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>

<p>
  Bus Stops are sized by frequency of service
</p>
<p>
  It may take a second to load the data!
</p>

<div id="map_container"></div>
