<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    You can click and drag to pan the map and you can zoom using the mouse wheel.
  </p>
  <p>
    It may take a second to load new data!
  </p>
</div>

<div class="container">
  <h3>No Database?</h3>
  <p>
    Check out <a href="nodb">this page</a> which grabs data from a few pre-computed routes.
  </p>
</div>

<div class="container" id="legend_container"></div>

<div class="container outline">
  <form oninput="readout.value = time.valueAsNumber">
    <label for="routeChooser">Bus Route:</label>
    <select id='routeChooser'><select>
    <label for="time">Hour:</label>
    <output for="startHour" name="readout">12</output>
    <input name="time" type="range" id="startHour" value="12" min="1" max="24" step="1">
    <button type="button" id="draw">Draw Route</button>
  </form>

  <div id="map_container"></div>
  <div id="tooltip" class="hidden"><span class="value"></span></div>
</div>

<div class="container">
  <a href="legal/">legal stuff</a>
</div>
