<p id="notice"><%= notice %></p>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>

<h1>Welcome</h1>
<p>
Loading data currently takes about 7 seconds. :(
</p>

<div id="map_container">

</div>
