<p id="notice"><%= notice %></p>

<h3>SF</h3>
<div class="legal">
  <p>
    Reproduced with permission granted by the City and County of San Francisco.  The information has been provided by means of a nonexclusive, limited, and revocable license granted by the City and County of San Francisco.
  </p>
  <p>
    The City and County of San Francisco does not guarantee the accuracy, adequacy, completeness or usefulness of any information.  The City and County of San Francisco provides this information "as is," without warranty of any kind, express or implied, including but not limited to warranties of merchantability or fitness for a particular purpose, and assumes no responsibility for anyone's use of the information.
  </p>
</div>

<h3>OSM</h3>
<div class="legal">
  <p>
    Some map data from <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>
  </p>
  
</div>
