// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #b0b0b0;
  margin: 0;
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.container {
	background: #fff;
  margin: auto;
  padding: 10px;
  width: 960px;
}

.hidden {
	display: none;
}

.outline {
  border: 1px solid #4b4b4b;
}

.map {
  position: relative;
  overflow: hidden;
}

.route {
  position: absolute;
}

.layer {
  position: absolute;
}

#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;

  .major_road { stroke: #444; }
  .minor_road { stroke: #bbb; }
  .highway { stroke: #737373; stroke-width: 1.5px; }
  .rail { stroke: #808285; }
}

.freq-1 { stroke-width: 1.5px; }
.freq-2 { stroke-width: 1.5px; }
.freq-3 { stroke-width: 2px; }
.freq-4 { stroke-width: 3px; }
.freq-5 { stroke-width: 4px; }
.freq-6 { stroke-width: 5px; }
.freq-7 { stroke-width: 6px; }
.freq-8 { stroke-width: 6px; }
.freq-9 { stroke-width: 6px; }
.freq-10 { stroke-width: 6px; }
.freq-11 { stroke-width: 6px; }
.freq-12 { stroke-width: 6px; }
.freq-13 { stroke-width: 6px; }
.freq-14 { stroke-width: 6px; }

$munimetro: #c4074e;
$express: 	#005595;
$rapid: 		#0080c1;
$bus: 			#569bbe;
$cablecar: 	#e7a614;
$owl: 			#6f0000;

.route-10867 { stroke: $bus; }
.route-1033 { stroke: $express; }
.route-1034 { stroke: $express; }
.route-1002 { stroke: $bus; }
.route-1003 { stroke: $bus; }
.route-1005 { stroke: $bus; }
.route-1055 { stroke: $rapid; }
.route-10974 { stroke: $bus; }
.route-1071 { stroke: $bus; }
.route-1072 { stroke: $rapid; }
.route-10874 { stroke: $express; }
.route-1110 { stroke: $bus; }
.route-1108 { stroke: $express; }
.route-1109 { stroke: $express; }
.route-1900 { stroke: $bus; }
.route-1901 { stroke: $rapid; }
.route-1010 { stroke: $bus; }
.route-1012 { stroke: $bus; }
.route-10879 { stroke: $bus; }
.route-10880 { stroke: $rapid; }
.route-10881 { stroke: $express; }
.route-10882 { stroke: $bus; }
.route-10883 { stroke: $bus; }
.route-10884 { stroke: $bus; }
.route-10885 { stroke: $bus; }
.route-10886 { stroke: $bus; }
.route-10887 { stroke: $bus; }
.route-10888 { stroke: $bus; }
.route-10889 { stroke: $bus; }
.route-1028 { stroke: $bus; }
.route-10986 { stroke: $rapid; }
.route-10891 { stroke: $bus; }
.route-1030 { stroke: $bus; }
.route-10893 { stroke: $express; }
.route-10894 { stroke: $bus; }
.route-1031 { stroke: $express; }
.route-1032 { stroke: $express; }
.route-10895 { stroke: $bus; }
.route-10896 { stroke: $bus; }
.route-10897 { stroke: $bus; }
.route-10898 { stroke: $bus; }
.route-10899 { stroke: $bus; }
.route-1038 { stroke: $express; }
.route-1039 { stroke: $express; }
.route-10900 { stroke: $rapid; }
.route-10901 { stroke: $bus; }
.route-10902 { stroke: $bus; }
.route-10903 { stroke: $bus; }
.route-10904 { stroke: $bus; }
.route-1045 { stroke: $bus; }
.route-10906 { stroke: $bus; }
.route-10907 { stroke: $bus; }
.route-10908 { stroke: $bus; }
.route-10909 { stroke: $bus; }
.route-10910 { stroke: $bus; }
.route-10911 { stroke: $bus; }
.route-10912 { stroke: $bus; }
.route-10913 { stroke: $bus; }
.route-10917 { stroke: $bus; }
.route-10918 { stroke: $bus; }
.route-10919 { stroke: $express; }
.route-1081 { stroke: $express; }
.route-1082 { stroke: $express; }
.route-10921 { stroke: $express; }
.route-10922 { stroke: $bus; }
.route-10923 { stroke: $bus; }
.route-10924 { stroke: $bus; }
.route-11029 { stroke: $munimetro; }
.route-10928 { stroke: $owl; }
.route-1094 { stroke: $munimetro; }
.route-1196 { stroke: $munimetro; }
.route-1198 { stroke: $munimetro; }
.route-1199 { stroke: $munimetro; }
.route-1093 { stroke: $munimetro; }
.route-10938 { stroke: $munimetro; }
.route-1197 { stroke: $munimetro; }
.route-1102 { stroke: $owl; }
.route-1103 { stroke: $owl; }
.route-1104 { stroke: $owl; }
.route-1105 { stroke: $owl; }
.route-1106 { stroke: $owl; }
.route-11030 { stroke: $bus; }
.route-1060 { stroke: $cablecar; }
.route-1059 { stroke: $cablecar; }
.route-10916 { stroke: $cablecar; }
