.route-10867 { stroke: #0077ba; } 1 California
.route-1033 { stroke: #ba0000; } 1AX California A Express
.route-1034 { stroke: #ba0000; } 1BX California B Express
.route-1002 { stroke: #0077ba; } 2 Clement
.route-1003 { stroke: #0077ba; } 3 Jackson
.route-1005 { stroke: #0077ba; } 5 Fulton
.route-1055 { stroke: #ba0000; } 5R Fulton Rapid
.route-10974 { stroke: #0077ba; } 6 Parnassus
.route-1071 { stroke: #0077ba; } 7 Haight - Noriega
.route-1072 { stroke: #ba0000; } 7R Noriega Rapid
.route-10874 { stroke: #ba0000; } 7X Noriega Express
.route-1110 { stroke: #0077ba; } 8 Bayshore
.route-1108 { stroke: #ba0000; } 8AX Bayshore A Express
.route-1109 { stroke: #ba0000; } 8BX Bayshore B Express
.route-1900 { stroke: #0077ba; } 9 San Bruno
.route-1901 { stroke: #ba0000; } 9R San Bruno Rapid
.route-1010 { stroke: #0077ba; } 10 Townsend
.route-1012 { stroke: #0077ba; } 12 Folsom/Pacific
.route-10879 { stroke: #0077ba; } 14 Mission
.route-10880 { stroke: #ba0000; } 14R Mission Rapid
.route-10881 { stroke: #ba0000; } 14X Mission Express
.route-10882 { stroke: #0077ba; } 18 46th Avenue
.route-10883 { stroke: #0077ba; } 19 Polk
.route-10884 { stroke: #0077ba; } 21 Hayes
.route-10885 { stroke: #0077ba; } 22 Fillmore
.route-10886 { stroke: #0077ba; } 23 Monterey
.route-10887 { stroke: #0077ba; } 24 Divisadero
.route-10888 { stroke: #0077ba; } 25 Treasure Island
.route-10889 { stroke: #0077ba; } 27 Bryant
.route-1028 { stroke: #0077ba; } 28 19th Avenue
.route-10986 { stroke: #ba0000; } 28R 19th Avenue Rapid
.route-10891 { stroke: #0077ba; } 29 Sunset
.route-1030 { stroke: #0077ba; } 30 Stockton
.route-10893 { stroke: #ba0000; } 30X Marina Express
.route-10894 { stroke: #0077ba; } 31 Balboa
.route-1031 { stroke: #ba0000; } 31AX Balboa A Express
.route-1032 { stroke: #ba0000; } 31BX Balboa B Express
.route-10895 { stroke: #0077ba; } 33 Ashbury-18th
.route-10896 { stroke: #0077ba; } 35 Eureka
.route-10897 { stroke: #0077ba; } 36 Teresita
.route-10898 { stroke: #0077ba; } 37 Corbett
.route-10899 { stroke: #0077ba; } 38 Geary
.route-1038 { stroke: #ba0000; } 38AX Geary A Express
.route-1039 { stroke: #ba0000; } 38BX Geary B Express
.route-10900 { stroke: #ba0000; } 38R Geary Rapid
.route-10901 { stroke: #0077ba; } 39 Coit Tower
.route-10902 { stroke: #0077ba; } 41 Union
.route-10903 { stroke: #0077ba; } 43 Masonic
.route-10904 { stroke: #0077ba; } 44 OShaughnessy
.route-1045 { stroke: #0077ba; } 45 Stockton - Union
.route-10906 { stroke: #0077ba; } 47 Van Ness
.route-10907 { stroke: #0077ba; } 48 24th Street
.route-10908 { stroke: #0077ba; } 49 Van Ness-Mission
.route-10909 { stroke: #0077ba; } 52 Excelsior
.route-10910 { stroke: #0077ba; } 54 Felton
.route-10911 { stroke: #0077ba; } 55 16th Street
.route-10912 { stroke: #0077ba; } 56 Rutland
.route-10913 { stroke: #0077ba; } 57 Parkmerced
.route-10917 { stroke: #0077ba; } 66 Quintara
.route-10918 { stroke: #0077ba; } 67 Bernal Heights
.route-10919 { stroke: #ba0000; } 76X Marin Headlands Express
.route-1081 { stroke: #ba0000; } 81X Caltrain Express
.route-1082 { stroke: #ba0000; } 82X Levi Plaza Express
.route-10921 { stroke: #ba0000; } 83X Mid Market Express
.route-10922 { stroke: #0077ba; } 88 Bart Shuttle
.route-10923 { stroke: #0077ba; } 90 San Bruno Owl
.route-10924 { stroke: #0077ba; } 91 3Rd-19th Ave Owl
.route-11029 { stroke: #349500; } E Embarcadero
.route-10928 { stroke: #349500; } F Market & Wharves
.route-1094 { stroke: #349500; } J Church
.route-1196 { stroke: #349500; } KT Ingleside/Third
.route-1198 { stroke: #349500; } L Taraval
.route-1199 { stroke: #349500; } M Ocean View
.route-1093 { stroke: #349500; } N Judah
.route-10938 { stroke: #349500; } NX N Express
.route-1197 { stroke: #349500; } S Castro Shuttle
.route-1102 { stroke: #2e5917; } K-Owl
.route-1103 { stroke: #2e5917; } L-Owl
.route-1104 { stroke: #2e5917; } M-Owl
.route-1105 { stroke: #2e5917; } N-Owl
.route-1106 { stroke: #2e5917; } T-Owl
.route-11030 { stroke: #0077ba; } Muni Metro Bus Shuttle
.route-1060 { stroke: #ba4e00; } Powell-Hyde
.route-1059 { stroke: #ba4e00; } Powell-Mason
.route-10916 { stroke: #ba4e00; } Californi

.freq-1 { stroke-width: 1px; }
.freq-2 { stroke-width: 1px; }
.freq-3 { stroke-width: 2px; }
.freq-4 { stroke-width: 2px; }
.freq-5 { stroke-width: 2px; }
.freq-6 { stroke-width: 3px; }
.freq-7 { stroke-width: 3px; }
.freq-8 { stroke-width: 3px; }
.freq-9 { stroke-width: 4px; }
.freq-10 { stroke-width: 4px; }
.freq-11 { stroke-width: 4px; }
.freq-12 { stroke-width: 5px; }
.freq-13 { stroke-width: 5px; }
.freq-14 { stroke-width: 5px; }
